*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
}
.top ,.down {
  background-color: aliceblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
}